.grid {
	margin: 10% auto;
	min-width: 450px;
	min-height: 450px;
}

.grid .block {
	background-color: gray;
	height: 100px;
}

.center {
	width: 180px;
	margin: 0 auto;
}

.red {
	color : rgba(255, 0, 0, 0.67);
}