.color-peach {color : rgba(255, 0, 0, 0.67);}

.grid {
	margin: 10% auto;
	min-width: 450px;
	min-height: 450px;
}

.grid .block {
	background-color: gray;
	height: 100px;
}

.petch-ploy .center {
	width: 180px;
	margin: 0 auto;
}