@import 'util';
@import 'general';

body {
	.view {
		padding-top: 75px;
	}
}

section {

	&.dont-touch {
		.hint {
			font-size: 1.5em;
		}
		.block-container {
			color: #fff;
			margin: 0 auto;
			.block {
				cursor: pointer;
				background-color: $black;
				height: 120px;
				width: 120px;
				margin: 10px;
				border: 1px solid #fff;
				@include border-radius(10px);

				&.beware {
					background-color: #fff;
				}
			}
		}

		.progress.bar-center {
			margin: 20px auto;
			width: 360px;
		}

		.btn-container {
			padding: 20px 0;

			a.btn.refresh{
				width: 100px;
			}
		}
	}

	&.blog {

	}

	&.footer {
		position: fixed;
		background-color: #fff;
		bottom: 0px;
		margin-bottom: 0px;
		padding: 0.5em 0;
		width: 100%;

		.social-fb:hover{
			color: $fb-color;
		}
		.social-twitter:hover{
			color: $twitter-color;
		}
		.social-flickr:hover{
			color: $flickr-color;
		}
		.social-linkedin:hover{
			color: $linkedin-color;
		}
		.social-github:hover{
			color: $github-color;
		}
	}

}