@import 'util';
@import 'general';

body {
	.view {
		padding-top: 75px;
	}
}

section {
	&.home {
	}
	&.map-generator {
		.map-container {
		    height: 380px;
		    width: 100%;
		    margin: 4vh 0 2vh 0;

		    .tile {
		    	background-color: #DDD;
		    	display: inline-block;
		    	width: 20px;
		    	height: 20px;
		    	border: solid 1px #777;

		    	&.path {
		    		background-color: #000;
		    	}
		    	&.tree {
		    		background-color: #99DE8D;
		    	}
		    	&.water {
		    		background-color: #8DB5DE;
		    	}
		    }
		}
	}

	&.dont-touch {
		.hint {
			font-size: 1.5em;
		}
		.block-container {
			color: #fff;
			margin: 0 auto;
			.block {
				cursor: pointer;
				background-color: $black;
				height: 120px;
				width: 120px;
				margin: 10px;
				border: 1px solid #fff;
				@include border-radius(10px);

				&.beware {
					background-color: #fff;
				}
			}
		}

		.progress.bar-center {
			margin: 20px auto;
			width: 360px;
		}

		.btn-container {
			padding: 20px 0;

			a.btn.refresh{
				width: 100px;
			}
		}
	}

	&.blog {

	}

	&.footer {
		position: fixed;
		background-color: #fff;
		bottom: 0px;
		margin-bottom: 0px;
		padding: 0.5em 0;
		width: 100%;

		.social {
			// padding: 0 10px;
			&.fb:hover{
				color: $fb-color;
			}
			&.twitter:hover{
				color: $twitter-color;
			}
			&.flickr:hover{
				color: $flickr-color;
			}
			&.linkedin:hover{
				color: $linkedin-color;
			}
			&.github:hover{
				color: $github-color;
			}
		}
	}

}