<section class="dont-touch" dont-touch>
	<div class="col-lg-12 text-center">
		<p class="hint"><strong>Hint</strong>: Dont' touch the white !!</p>
	</div>
	<div class="col-lg-12">
		<div class="progress bar-center">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{timer}}" aria-valuemin="0" aria-valuemax="100" style="width: {{timer}}%;">
				<span class="sr-only">{{timer}}</span>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<table class="block-container">
			<tr>
				<td id="block-7" class="block" dont-touch-block></td>
				<td id="block-8" class="block" dont-touch-block></td>
				<td id="block-9" class="block" dont-touch-block></td>
			</tr>
			<tr>
				<td id="block-4" class="block" dont-touch-block></td>
				<td id="block-5" class="block" dont-touch-block></td>
				<td id="block-6" class="block" dont-touch-block></td>
			</tr>
			<tr>
				<td id="block-1" class="block" dont-touch-block></td>
				<td id="block-2" class="block" dont-touch-block></td>
				<td id="block-3" class="block" dont-touch-block></td>
			</tr>

		</table>

	</div>
	<div class="col-lg-12 text-center btn-container">
		<p><strong>Score : </strong>{{score}}</p>
		<p><a ng-click="resetTimer()" class="btn btn-danger refresh"><i class="fa fa-refresh"></i></a></p>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="modalScore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Game Over</h4>
				</div>
				<div class="modal-body">
					Your score is {{score}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetTimer()">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>


</section>